.container-fluid {
    background-color: #000000;
    background-image: url(/band-assets/images/monkees.jpg);
}



.col-2:hover {
    background-color: yellow;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

/*============================Media Queries=========================*/

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}
